<h1><%= @document.title %></h1>

<p>
Category: <%= @document.category %>
</p>

<% if @document.file.attached? %>
  <p>
    <%= link_to "Download File", rails_blob_path(@document.file, disposition: "attachment") %>
  </p>
<% end %>

<%= link_to "Back", documents_path %>
